body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    position: relative;
}

#chapterContainer {
    width: 90%;
    background-color: #e8e8e8;
    padding: 5px; /* Reduced padding */
    overflow-y: auto;
    transition: width 0.3s ease, opacity 0.3s ease;
    position: relative;
    z-index: 1;
}

#chapterContainer[style*="width: 0px"] {
    opacity: 0;
    pointer-events: none;
    height: 100vh;
}

#chapterTitle {
    font-weight: bold;
    margin-bottom: 5px; /* Reduced margin */
}

#sidebar {
    width: 230px;
    min-width: 0px;
    max-width: 230px;
    background-color: #e8e8e8;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    transition: width 0.2s;
    box-shadow: #777 0 0 10px;
}

#headerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#titleContainer {
    display: flex;
    flex-direction: column; /* Stack the title and ancestry vertically */
    margin-left: 10px; /* Adds space between the button and the title */
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3b3b3; /* Greyed background on hover */
}


#toggleSidebar {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}

.chapter {
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* eclipse text if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapter .drag-handle {
    cursor: move;
    margin-right: 8px;
    color: #888;
}

.chapter .edit-icon, 
.chapter .delete-chapter {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease;
}

/* Show edit and delete buttons on hover */
.chapter:hover .edit-icon, 
.chapter:hover .delete-chapter {
    visibility: visible;
    opacity: 1;
}

.chapter .edit-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
    right: 30px;
}

.chapter .delete-chapter {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.current-chapter {
    border: 2px solid #4CAF50; /* Green outline */
}

h1 {
    /* make centered */
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 60px; /* Leave space for the header and ancestry */
    transition: margin-left 0.3s ease;
}

#ancestryContainer {
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
    color: #666; /* A bit lighter color for ancestry */
}

.story-node {
    margin: 5px 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
}

/* Chapter "+" button */
#addChapterButton {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#addChapterButton:hover {
    background-color: #b3b3b3; /* Grey background when hovering over the "+" button */
}

/* Title Styling */
#storyTitle {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-bottom: 2px solid #4CAF50;
    border-radius: 5px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.current {
    background-color: #d0f0d0;
}

.ancestry-node:hover {
    background-color: #dcdcdc; /* Darker grey on hover */
}

.ancestry-node {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#storyContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 50px;
}

#inputContainer {
    bottom: 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    z-index: 1000;
    transition: left 0.3s ease, width 0.3s ease; /* Smooth transition when sidebar collapses */
}

#inputContainer.collapsed {
    left: 0; /* Align with the page when sidebar is collapsed */
    width: 100%; /* Full width when sidebar is collapsed */
}

#inputWrapper {
    display: flex;
    align-items: center;
}

#nodeInput {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

#addNode {
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

#hintContainer {
    margin-bottom: 5px;
    font-size: 14px;
    color: #777;
}

.message {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}